.UpdateScreen .Data .form-group:hover {
    background: aliceblue;
}

.UpdateScreen .Data .row label {
    float: left;
    text-align: left;
}

.UpdateScreen .Data .row .col-sm-8 .data {
    float: right;    
}

.UpdateScreen .Data .row .col-sm-8 .data input.inputData {
    text-align: right;
}